/* color: #eef7ff; blue-white
/* color: #CAE5FF; beau blue */
/* color: #4472CA; han blue*/
/* color: #25283D; space cadet: dark blue-gray*/
/* color: #191716: eerie black */

/* fonts-------------------- */
/* font-family: 'Pacifico', cursive;
font-family: 'Raleway', sans-serif; */


/* Global styles
----------------------- */
html {
    box-sizing: border-box;
}
*, *:before, *:after {
    box-sizing: inherit;
}

body {
    color: #191716;
    margin: 0;
    padding: 0;
    font-family:'Raleway', sans-serif;
    font-size: .9em;
    line-height: 1.5;
}
img {
    width: 300px;
}
a {
    color: #eef7ff;
}
a:hover {
    text-decoration: none;
}
h1 {
    font-size: 7em;
    text-shadow: 5px 5px 5px #4472CA;
}
h2 {
    font-size: 3em;
    padding-bottom: 10px;
}
h1, h2 {
    font-family: 'Pacifico', cursive;
    font-weight: 400;
    margin: 0;
}

.content-wrap {
    width: 80vw;
    margin: 0 auto;
    padding: 60px 0;
}
/* Profile
----------------------- */
header {
    background-color: #25283D;
    color: #eef7ff;
    text-align: center;
}

/* Navigation Bar
-------------------------- */
nav {
    background-color: #4472CA;
}

/* location of nav bar and gets rid of bullets */
nav ul {
    text-align: left;
    list-style: none;
}

/* how the nav items appear */
nav ul li {
    display: inline-block;
    font-weight: bolder;
    position: relative;
    padding: 15px 20px;
    cursor: pointer;
}

/* how nav items look when hovered over */
nav ul li:hover {
    background-color: #eef7ff;
}

/* submenu display settings */
nav ul li ul {
    padding: 0;
    position: absolute;
    top: 48px;
    left: -10000px;
    width: 150px;
}

/* submenu items */
nav ul li ul li {
    background-color: #CAE5FF;
    display: block;
}

/* submenu items when they're hovered over */
nav ul li ul li:hover {
    background-color: plum;
}

/* submenu when hovered */
nav li:hover ul {
    display: block;
    left: 0px;
}

/* Projects
----------------------- */
.projects {
    background-color: #CAE5FF;
}


.project-item {
    overflow: hidden;
    border-bottom: 1px dashed #25283D;
    padding: 25px 0;
}
.project-item img {
    float: left;
    margin-right: 20px;
}
.project-item h3 {
    margin-top: 0;
}

/* Work Experience
----------------------- */
.work-experience {
    background-color: #eef7ff;
}

.job-item {
    display: grid;
    grid-template-columns: 1fr 2fr;
    column-gap: 20px;
}
/* Education
----------------------- */



/* Contact Info
----------------------- */
footer {
    background-color: #25283D;
    color: #eef7ff;
    text-align: center;
}

.contact-list {
    list-style-type: none;
    padding: 0;
    display: flex;
    justify-content: center;
}

.contact-list a {
    padding: 15px;
    display: inline-block;
}